
    @font-face {
      font-family: 'RobotoMono';
      src: url('/Fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
      font-family: 'RobotoMono';
      src: url('/Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    }

        body {
            overflow-y: scroll; /* Vertical scrollbar */
            background-color:#141414; /* Set the background color for the entire page */
            font-size: 18px; /* Adjust the size to your preference */
            line-height: 1.6; /* Adjust the line height to your preference */
            margin: 0;
            overflow-y: scroll; /* Vertical scrollbar */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
         }

        h1 {
            color:#D9E8FF;
        }

        p {
            text-align: center;
            font-family: ;
            font-size: 2rem;
            font-size: 2ref;
            margin: 3rem;
            color:rgb(255, 255, 255) /* Change to a softer color */
        }

        .p2{
            font-family: RobotoMono;
            font-weight: bold;
        }

        #name {
            text-align: center;
            font-family:'RobotoMono' ;
            margin: 3rem;
        }

        a {
            text-decoration: none;
        }

a:visited {
   color: green;
}
a:hover {
    text-decoration: none;
    color: rgb(42, 119, 42); /* Change to the desired brighter green color */
}
a:link {
    color: green;
  }
#box {
    background-color: rgb(54, 52, 52);
    opacity: 150%;
    border-radius: 42px;
    width: 5ref;
    height: 1ref;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}




    